<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
       <!--<add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.ManualConnectionString"
            connectionString="Data Source=DESKTOP-SLB0F7G;Initial Catalog=Manual;User ID=sa;Password=12345678"
            providerName="System.Data.SqlClient" />
        <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.PersonaConnectionString"
            connectionString="data source=DESKTOP-ART4CME\SQLEXPRESS;&#xA;database=Persona;&#xA;Integrated Security=SSPI;&#xA;persist security info=True;"
            providerName="System.Data.SqlClient" />--> 
        <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.ManualConnectionString1" connectionString="Data Source=uttttidsm.database.windows.net;Initial Catalog=Manual;User ID=ivan-ti;Password=i1234...." providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
